/*
selector de etiqueta
*/

body {
    font-family: "Asimovian", sans-serif;
    font-weight: 400;
    font-style: normal; 
    /*font-family: 'Times New Roman', Times, serif;*/
    background-color: blue;
    color: white;
    font-size: 10px;
}

p{
    background-color: beige;
    color: black;
    font-variant:small-caps;
    text-indent: 20px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

h1  {
    text-decoration: underline;
    text-align: center;
    font-size: 3em;
    color: red;
    background-color: yellow;
}
h2 {text-align: left;
    text-transform: uppercase;
    color:yellow
}
    /*selector de ID*/
#importante {
    font-style: oblique;/*cursiva*/
    font-weight: bolder;/*negrita*/
    font-size: 12px;
    background-color: red;
    color: white;
}

    /*Selector de clase*/
.sub-titulos {
    background-color: yellow;
    color: red;
}

.centrado {
    text-align: center;
}