header{
    background-color: yellow;
}
main{
    background-color: rgb(250, 250, 180);
}
footer{
    text-align: center;
    background-color: antiquewhite;
}
nav{
    text-align: right;
    font-size: 15px;
}
body{
    background-color: rgb(230, 229, 229);
}