th{
    background-color: #f14810;
    color: white;
    width: 12%;
}
td{
    text-align: center;
}
tbody{
    background-color: beige;
    color: chocolate;
}
.importante{
    background-color: red;
    color: white;
}
button, .botones{
    background-color: green;
    color: white;
}